<app-loading [loading]="loading"></app-loading>
<div *ngIf="!loading">
  <div class="uk-text-center" uk-grid>
    <div class="uk-width-auto@m uk-width-1-1">
      <ng-content></ng-content>
    </div>
    <div class="uk-width-expand@m uk-width-1-1">
      <button class="uk-button uk-button-primary uk-align-right" (click)="onAdd()">
        <span uk-icon="plus"></span> Nuevo</button>
    </div>
  </div>
  <div *ngIf="errors?.length" class="errors-container">
    <p><span class="uk-margin-small-right" uk-icon="icon: warning; ratio: 2"></span>
      Se encontraron los siguientes errores: </p>
    <ul class="uk-list uk-list-bullet">
        <li *ngFor="let error of errors">{{ error.msg}}</li>
    </ul>
  </div>
  <div class="uk-text-left" uk-grid>
    <div class="uk-width-1-1">
      <app-table [metadata]="tableMetadata"
      [source]="tableDataSource"
      [allowEdit]="allowEdit"
      [allowDelete]="allowDelete"
      (editEntity)="onEditEntity($event)"
      (deleteEntity)="onDeleteEntity($event)"
      (actionMetadata)="onActionMetadata($event)"></app-table>
    </div>
  </div>
</div>
<app-modal [entity]="entity"
  [mode]="mode"
  [entityTitle]="title"
  [entity]="entity"
  [dataService]="dataService"
  [formMetadata]="metadataFormName"
  (saved)="onSaved($event)"
  (modifyInput)="onModifyInput($event)"
  (formInitializing)="onFormInitializing($event)"
  (propertyChanged)="onPropertyChanged($event)"></app-modal>
<app-confirm-dialog></app-confirm-dialog>