<div id="modal-overflow" uk-modal="bg-close: false" #modal>
  <div class="uk-modal-dialog">
    <button class="uk-modal-close-default" type="button" uk-close></button>
    <div class="uk-modal-header">
      <h2 class="uk-modal-title">{{title}}</h2>
    </div>
    <div class="uk-modal-body uk-height-large" uk-overflow-auto>
      <app-form
        [entity]="entity"
        [formMetadataKey]="formMetadata"
        (modifyInput)="onModifyInput($event)"
        (propertyChanged)="onPropertyChanged($event)"></app-form>
    </div>
    <div class="uk-modal-footer uk-text-right">
      <button class="uk-button uk-button-default uk-modal-close uk-margin-right" type="button" (click)="onCancel()">Cancel</button>
      <button class="uk-button uk-button-primary" type="button" (click)="save()" [disabled]="!hasChanges || submitting">Save</button>
    </div>
  </div>
</div>