<div class="uk-animation-fade uk-overflow-auto">
  <table class="uk-table uk-table-responsive uk-table-divider" #table>
    <thead>
      <tr>
        <th class="uk-table-shrink">Actions</th>
        <th *ngFor="let column of columns" class="uk-width-small">{{column.caption}}</th>
      </tr>
    </thead>
    <div *ngIf="!hasData">Empty Data</div>
    <tbody *ngIf="hasData">
      <tr *ngFor="let row of tableSource; index as i" [id]="i+'-'+metadata.name" class="row">
        <td [id]="metadata.name+'-actions'" class="cell">
          <a *ngIf="allowEdit" (click)="onEdit(row, i)" class="uk-icon-link uk-margin-small-right" uk-icon="pencil"></a>
          <a *ngIf="allowDelete" (click)="onDelete(row, i)" class="uk-icon-link uk-margin-small-right" uk-icon="trash"></a>
        </td>
        <td *ngFor="let column of columns; index as j"
            [id]="metadata.name+'-'+column.propertyName"
            class="uk-text-truncate">{{row[column.propertyName]}}</td>
      </tr>
    </tbody>
  </table>
</div>