<app-page title="Dashboard">
  <div class="uk-child-width-1-2 uk-text-center" uk-grid>
    <div>
      <div class="uk-card uk-card-default uk-card-body">
        <app-line-chart 
          [data]="salesChart"
          [labels]="salesChartLabels"></app-line-chart>
      </div>
    </div>
    <!-- <div>
      <div class="uk-card uk-card-default uk-card-body">
        <app-chart></app-chart>
      </div>
    </div>
    <div>
      <div class="uk-card uk-card-default uk-card-body">
        <app-chart></app-chart>
      </div>
    </div>
    <div>
      <div class="uk-card uk-card-default uk-card-body">
        <app-chart></app-chart>
      </div>
    </div> -->
  </div>
</app-page>