.b-dropdown {
    padding: 0;
    .uk-list {
        max-height: 180px;
        margin-bottom: 0;
        li {
            padding-top: 10px;
            padding-left: 10px;
            height: 35px;
            margin-top:0;
        }
        li:hover, li.b-selected {
            background-color: #1e87f0;
            color: white;
            cursor: pointer;
        }
        
    }
}

.select-box {
    text-align: left;
    padding-left: 10px;
    text-transform: none;
    font-size: 1rem;

    .b-text, .b-icon {
        margin-bottom: 0;
    }

    .b-icon {
        margin-top: 10px;
        -webkit-transition: -webkit-transform .4s ease-in-out;
        -ms-transition: -ms-transform .4s ease-in-out;
        transition: transform .4s ease-in-out;  
    }

    
}

.select-box.uk-open {
    .b-icon {
        transform: rotateX(180deg);
    }
}