<form class="uk-form-horizontal uk-margin-large uk-height-1-1">
  <div *ngFor="let item of inputs;" class="uk-margin">
    <div [ngSwitch]="item.editor">
      <div *ngSwitchCase="editor.Text">
        <label class="uk-form-label" for="form-horizontal-text">{{item.caption}}</label>
        <div class="uk-form-controls">
          <input class="uk-input" id="form-horizontal-text" type="text" [placeholder]="item.placeholder">
        </div>
      </div>
      <app-numeric *ngSwitchCase="editor.Number" [label]="item.caption"></app-numeric>
      <app-dropdown *ngSwitchCase="editor.Select" [label]="item.caption" [options]="item.dropdownOptions"></app-dropdown>
    </div>

  </div>
</form>