<nav class="uk-navbar-container uk-margin uk-padding-small uk-padding-remove-top uk-padding-remove-bottom" uk-navbar>
  <div class="uk-navbar-left">
    <a class="uk-navbar-item uk-logo" routerLink="/">Bar Services</a>
    <ul class="uk-navbar-nav">
      <li routerLinkActive="uk-active">
        <a [routerLink]="['/dashboard']">Dashboard</a>
      </li>
      <li routerLinkActive="uk-active">
        <a [routerLink]="['/comandas']">Comandas</a>
      </li>
      <li routerLinkActive="uk-active">
        <a [routerLink]="['/inventario']">Inventario</a>
      </li>
      <!-- <li routerLinkActive="uk-active">
        <a [routerLink]="['/menus']">Menús</a>
      </li>
      <li routerLinkActive="uk-active">
        <a [routerLink]="['/alertas']">Alertas</a>
      </li>
      <li routerLinkActive="uk-active">
        <a [routerLink]="['/reportes']">Reportes</a>
      </li> -->
    </ul>
  </div>
  <div class="uk-navbar-right">
    <ul class="uk-navbar-nav">
      <li routerLinkActive="uk-active">
        <a [routerLink]="['/settings']">Settings</a>
      </li>
      <li>
        <a>{{user?.username}}</a>
        <div class="uk-navbar-dropdown">
          <ul class="uk-nav uk-navbar-dropdown-nav">
            <li>
              <a [routerLink]="['/user']">Perfil</a>
            </li>
            <li>
              <a (click)="logout()">Cerrar sesión</a>
            </li>
          </ul>
        </div>
      </li>
    </ul>

  </div>
</nav>
<div class="uk-container uk-container-large">
  <router-outlet></router-outlet>
</div>