<!-- show: {{show}}<br/>
data: {{chartData}}<br/>
labels: {{chartLabels}}<br/>
color: {{colors}}<br/>
plugins: {{plugins}}<br/> -->
<!-- <app-loader [visible]="loading"></app-loader>
<app-no-data *ngIf="showNoRecordsMessage" [msg]="noRecordsMsg"></app-no-data> -->
<p *ngIf="showNoRecordsMessage"> {{noRecordsMsg}}</p>
<div *ngIf="show">
  <canvas ngChartjs 
    [datasets]="chartData"
    [labels]="chartLabels"
    [options]="chartOptions"
    legend="true"
    [chartType]="chartType">
  </canvas>
</div>