<div uk-height-viewport class="uk-section uk-section-muted">
  <div class="uk-container">
    <h3>Bienvenido a Bar Services!</h3>
    <div class="uk-child-width-expand@s" uk-grid>
      <div>
          <div class="uk-background-cover uk-background-muted uk-height-large uk-panel uk-flex uk-flex-center uk-flex-middle" style="background-image: url(assets/images/logo.png);">
        </div>
      </div>
      <div class="uk-grid-item-match uk-text-justify">
        <div class="uk-card uk-card-default uk-card-body uk-text-center">
          <h3>Login</h3>
          <p>Lorem ipsum dolor sit amet.</p>
        </div>
      </div>
    </div>
  </div>
</div>